@font-face {
    font-family: 'Product Sans';
    src: url('/public/fonts/Product\ Sans\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Product Sans';
    src: url('/public/fonts/Product\ Sans\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  